<% provide :search_path, root_path %>
<section class="welcome_area bg-img background-overlay" style="background-image: url(<%= image_url "img/bg-img/bg-1.jpg" %>);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="hero-content">
          <h2><%= t "client.library" %></h2>
          <%= link_to t("client.library"), books_path, class: "btn essence-btn" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "popular_book" %>
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <% @categories.each do |category| %>
        <% if category.parent.nil? %>
          <% @category = category  %>
          <%= render partial: "categories" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="brands-area d-flex align-items-center justify-content-between">
  <% @publishers.each do |publisher| %>
      <% @publisher = publisher  %>
      <%= render partial: "publishers" %>
  <% end %>
</div>
