<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "statistic.borrow_status" %>
      </div>
      <div class="panel-body">
        <%= pie_chart Borrow.group(:status).count %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "statistic.book_in_out" %>
      </div>
      <div class="panel-body">
        <%= pie_chart book_in_library %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "statistic.borrow_status" %>
      </div>
      <div class="panel-body">
        <%= bar_chart Book.joins(:borrow).group(:name).count %>
      </div>
    </div>
  </div>
</div>
