<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset>
          <%= search_form_for @q, url: admin_books_path,
            class: "form-horizontal", method: :get do |f| %>
            <div class="form-group">
              <div class="col-md-12">
                <%= f.text_field :name_cont, class: "form-control",
                  placeholder: t("admin.search_name") %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4">
                <%= f.select :author_id_eq,
                  book_select_author, {include_blank: true},
                  :class => "form-control" %>
              </div>

              <div class="col-md-4">
                <%= f.select :publisher_id_eq,
                  book_select_publisher, {include_blank: true},
                  :class => "form-control" %>
              </div>

              <div class="col-md-4">
                <%= f.select :category_id_eq,
                  book_select_category, {include_blank: true},
                  :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-2 col-md-offset-10">
                <%= f.submit t("admin.search"),
                  class: "btn btn-primary btn-md form-control" %>
                <button class="btn btn-success btn-md form-control" id="export">
                  <%= t"admin.export" %>
                </button>
              </div>
            </div>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to t("book.create_book"), new_admin_book_path,
          class: "btn btn-primary" %>
      </div>
      <div class="panel-body">
        <% @books.each do |book| %>
          <div class="row">
            <div class="col-md-3">
              <a href="#">
                <%= image_tag book.image, class: "img-fluid rounded mb-3 mb-md-0" %>
              </a>
            </div>
            <div class="col-md-9">
              <h3><%= book.name %></h3>
              <p><%= book.describe %></p>
              <%= link_to t("admin.edit"), edit_admin_book_path(book),
                class: "btn btn-success" %>
              <%= link_to t("admin.delete"), admin_book_path(book),
                method: :delete, class: "btn btn-danger" %>
            </div>
          </div>
          <hr>
        <% end %>
        <div>
          <%= paginate @books %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "admin/book", "data-turbolinks-track": "reload" %>
