<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t "book.create_book" %>
      </div>
      <div class="panel-body">
        <%= form_for @book, url: admin_books_path do |f| %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :describe %>
            <%= f.text_area :describe, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :page_number %>
            <%= f.number_field :page_number, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
              class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <%= f.select :author_id,
                  book_select_author, {include_blank: true},
                  :class => "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.select :publisher_id,
                  book_select_publisher, {include_blank: true},
                  :class => "form-control" %>
              </div>
              <div class="col-md-4">
                <%= f.select :category_id,
                  book_select_category, {include_blank: true},
                  :class => "form-control" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= link_to t("admin.back"), admin_books_path %>
      </div>
    </div>
  </div>
</div>
