<% provide :search_path, books_path %>
<section class="single_product_details_area d-flex align-items-center">
  <div class="single_product_thumb clearfix">
    <div class="product_thumbnail_slides owl-carousel">
      <%= image_tag @book.image %>
      <%= image_tag @book.image %>
      <%= image_tag @book.image %>
    </div>
  </div>
  <div class="single_product_desc clearfix">
    <span><% if @book.category %>
          <%= @book.category.name %>
          <% end %>
    </span>
    <h2><%= @book.name %></h2>
    <p class="product-price"><%= @book.author.name %></p>
    <p class="product-desc"><%= @book.describe %></p>
    <p class="product-desc"><%= @book.page_number %></p>
    <div class="add-to-cart-btn">
      <%= link_to "Add to cart", cart_add_path(@book), method: :post, class: "btn essence-btn" %>
    </div>
  </div>
</section>
