<div class="cart-bg-overlay"></div>
<div class="right-side-cart-area">
  <div class="cart-button">
    <a href="#" id="rightSideCart"><%= image_tag "img/core-img/bag.svg" %>
      <% if session[:cart]["books"].present? %>
        <span><%= session[:cart]["books"].count %></span>
      <% end %>
    </a>
  </div>
  <div class="cart-content d-flex">
    <div class="cart-list">
      <% if @books_in_cart %>
        <% @books_in_cart.each do |item| %>
          <% @item = item %>
          <%= render partial: "layouts/card_item" %>
        <% end %>
      <% end %>
    </div>
    <div class="cart-amount-summary">
      <h2><%= t "client.borrow" %></h2>
      <%= render "layouts/from_borrow" %>
    </div>
  </div>
</div>

