<header class="header_area">
  <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
    <nav class="classy-navbar" id="essenceNav">
      <a class="nav-brand" href="#"><%= image_tag "img/core-img/logo.png" %></a>
      <div class="classy-navbar-toggler">
        <span class="navbarToggler"><span></span><span></span><span></span></span>
      </div>
      <div class="classy-menu">
        <div class="classycloseIcon">
          <div class="cross-wrap">
            <span class="top"></span>
            <span class="bottom"></span>
          </div>
        </div>
        <div class="classynav">
          <ul>
            <li><a href="#"><%= t "client.category" %></a>
              <div class="megamenu">
                <% @categories.each do |category| %>
                  <% if category.parent.nil? %>
                    <ul class="single-mega cn-col-4">
                      <li class="title"> <%= category.name %> </li>
                      <li>
                        <%= link_to "all", category_path(category.id) %>
                      </li>
                      <%= render partial: "layouts/subcategories",
                        locals: {subcategories: category.subcategories} if category.subcategories.present? %>
                    </ul>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li><a href="#"><%= t "client.pages" %></a>
              <ul class="dropdown">
                <li><%= link_to "home", root_path %></li>
                <li><%= link_to "library", books_path %></li>
              </ul>
            </li>
            <% if current_user %>
              <li><a href="#"><%= t "client.acount" %></a>
                <ul class="dropdown">
                  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "log in", user_session_path %></li>
            <% end %>
            </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="header-meta d-flex clearfix justify-content-end">
      <%= render "layouts/search_all" %>
      <div class="user-login-info">
        <%= link_to t("client.admin"), admin_root_path %>
      </div>
      <div class="cart-area">
        <a href="#" id="essenceCartBtn"><%= image_tag "img/core-img/bag.svg" %>
          <% if session[:cart]["books"].present? %>
            <span><%= session[:cart]["books"].count %></span>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</header>

