<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= t "nameproject" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "admin/admin-all", "data-turbolinks-track": "reload" %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span></button>
          <%= link_to "#", class: "navbar-brand" do %>
            <span><%= t "library" %></span><%= t "management" %></a>
          <% end %>
      </div>
    </div>
  </nav>
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
      </div>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name"><%= current_user.username %></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <ul class="nav menu">
      <li class="active">
        <%= link_to admin_users_url do %>
          <em class="fa fa-dashboard"></em> Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to admin_publisher_index_path do %>
          <em class="fa fa-bar-chart">&nbsp;</em> Publisher
        <% end %>
      </li>
      <li>
        <%= link_to admin_author_index_path do %>
          <em class="fa fa-clone"> </em> Author
        <% end %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <em class="fa fa-power-off">&nbsp;</em> Logout
        <% end %>
      </li>
    </ul>
  </div><!--/.sidebar-->
  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <%= yield %>
  </div>
  <%= javascript_include_tag "admin/admin-all", "data-turbolinks-track": "reload" %>
  <%= render "admin/shared/toastr" %>
</body>
</html>
