<!DOCTYPE html>
<html>
  <head>
    <title><%= t "nameproject" %></title>
    <%= render "layouts/default_app_begin" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/cart" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/default_app_end" %>
  </body>
</html>
