<!DOCTYPE html>
<html>
  <head>
    <title><%= t "nameproject" %></title>
    <%= render "layouts/default_app_begin" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/cart" %>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/default_app_end" %>
  </body>
</html>
